@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --primary:#ddd;
    --dark:#048;
    --light:#99c24d;
    --fondo:#e6c4a2;
    --shadow: 3px 3px 9px rgba(44, 25, 25, 0.9);
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  section{
	border:1 px solid rgba(0,0,0,0.1);
	padding:0.5rem;
	background-color:#eee;
	
}

.cards {
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
	grid-gap:5px;
	align-items:center;
}

.cards section{
	text-align:center;
}

.cards img{
	border:1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.cards section > * {
	margin:0.1rem;
}


.card img{
	heifht:75px;
	max-width:100%;
}


  .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
  }
  
  .card h3{
    background-color: rgb(150, 189, 233);
    color: black;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    
  }             

  .card h3{
    top: 30px;
  }
  .card p {
    padding:40px;
  }

  



  .cards{
    margin-top: 20px;
    margin-bottom: 20px;
  }

 .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    position: relative;
  }

  .card-pic{
    position: relative;
    
  }
    .card-pic img{
      height: 100%;
      width: 100%;
    }
  
